<div class="d-flex allign-content-center justify-content-center flex-column">
<h1 class="home_heading1 text-center" style="font-family:gotham">Welcome to Equalizer</h1>
<p class ="home_paragraph text-center">
    Equalizer is a new online music management system which allows you to keep an<br>
    important data about thousands of your favourite tracks with all appropriate<br>
    information, such as name of the song, artist or album. Here you can easily create,<br>
    edit and delete your songs and playlists. Moreover, you can combine them the way you<br>
    want them to be and structure your own dream playlist.<br>
</p>
</div>