// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form label, form input {
    display: block;
    margin: 10px;
    }
    .home_paragraph {
    margin-top: 40px;
    font-size: 25px !important;
    color: white !important;
    font-family: gotham !important;
    }

    .navbar-brand {
    font-size: 20px !important;
    color: white !important;
    font-family: gotham !important;
    }

    .home_heading1 {
        color: white !important;
        font-size: 50px !important;
        font-family: gotham !important;
        margin-top: 120px;
    }

    .contact_heading {
        color: white !important;
        font-size: 40px !important;
        font-family: gotham !important;
    }

    .contact_paragraph {
        color: white !important;
        font-size: 25px !important;
        font-family: gotham !important;
    }

    .translation_missing {
        color: white !important;
        font-size: 18px !important;
        font-family: gotham !important;
    }

    #email-error {
        color: white !important;
        font-size: 18px !important;
        font-family: gotham !important;
    }

    #telephone-error {
        color: white !important;
        font-size: 18px !important;
        font-family: gotham !important;
    }

    #name-error {
        color: white !important;
        font-size: 18px !important;
        font-family: gotham !important;
    }

    #message-error {
        color: white !important;
        font-size: 18px !important;
        font-family: gotham !important;
    }